@model onlineexams.Models.Questioneries

@{
    ViewBag.Title = "GetQuestionupdate";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="~/overlay2.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@* Scripts Related to Popup messages upto*@



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    span.span3 {
        display: block;
        color: red;
        float: right;
        top: -27px;
        margin: 0 0 0 20px;
        padding: 3px 10px;
        color: #CE5454;
        border-radius: 3px 4px 4px 3px;
        /*background-color: #CE5454;*/
        max-width: 280px;
        position: relative;
        margin-bottom: -20px;
        opacity: 3;
        left: 200px;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header" style="background-color:darkturquoise;color:WHITE;">
                <h3 class="card-title">Question</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    @*<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>*@
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <div class="col-md-12">
                    <div class="card-body mainbox  col-md-10" id="dic">
                        <div class="form-group ddd">
                            <input type="hidden" value="@Model.ANSWER"  id="ans"/>
                           
                            <div class="col-md-12">
                                <label for="inputDescription">Question</label><span style="color:red">*</span>
                            </div>
                            <div class="col-md-12">
                                <textarea id="inputDescription" class="form-control space" rows="4">@Model.QUESTION</textarea>
                            </div>
                        </div>

                        <label for="inputDescription" class=ddd>Options</label><span style="color:red" class=ddd>*</span>
                        <div class="form-group ddd">
                            <div class="col-md-12">
                                <table>
                                   
                                    <tr>
                                        <td><input type="radio" id="r1" class="o1" value="o1" name="check" style="width: 49px; height: 15px;" /> </td>
                                        <td><input type="text" class="form-control" value="@Model.OP1" id="o1" style="width: 650px;" /></td>
                                    </tr>
                                    
                                    <tr>
                                        <td><input type="radio" value="o2" class="o2" id="r2" name="check" style="width: 49px; height: 15px;" /></td>
                                        <td><input type="text" class="form-control" value="@Model.OP2" id="o2" style="width: 650px;" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" value="o3" id="r3" class="o3" name="check" style="width: 49px; height: 15px;" /></td>
                                        <td><input type="text" class="form-control" value="@Model.OP3" id="o3" style="width: 650px;" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" value="o4" id="r4" class="o4" name="check" style="width: 49px; height: 15px;" /></td>
                                        <td><input type="text" class="form-control" id="o4" value="@Model.OP4" style="width: 650px;" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group ddd">
                            <div class="col-md-12">
                                <label for="marks">Marks</label><span style="color:red">*</span>
                            </div>
                            <div class="col-md-6">
                                <input type="number" id="marks" value="@Model.MMarks" class="form-control space" />
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="button" value="Update" class="btn btn-primary" onclick="Questionspost()" />

                                <input type="button" value="Cancel" class="btn btn-danger" onclick="window.location.href='@Url.Content("~/onlineExamUI/QUestionEntry")'" />
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <br />


                        @*<div><input type="button" value="submit" onclick="update()" /></div>*@




                    </div>

                </div>
                <!-- /.card-body -->


            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        //$("#example1").DataTable();
        //$("#click").click();
        answe = $("#ans").val();
        
        $('.'+answe).prop("checked", true);
        
        
        $('.space').on('keydown', function (e) {
            if (e.which === 32 && e.target.selectionStart === 0) {
                return false;
            }
        });
        $(".space").on("keyup", function () {
            if ($(this).val() != "") {
                $(this).next("span").remove();

                $(this).css('border', '');
            }
            else {

                $(this).next("span").remove();

                $(this).css('border', '1px solid red');

            }
        });
        $("#csd").datepicker({
            minDate: 0,
            onSelect: function (dateStr) {
                $(this).focus();
                //ValidateToDate()
                //Validate2();
            },
            dateFormat: 'dd-mm-yy',
        });

    });
</script>
<script>

    //    function dd() {
    //        $('#ced').val("");
    //    //var dd1 = "";
    //    debugger
    //        var date = new Date($("#csd").val()),
    //            days = parseInt($("#cnod").val(), 10);
    //    date.setDate(date.getDate() + days);

    //    debugger
    //    var date1 = new Date(date),

    //        mnth = ("0" + (date1.getMonth() + 1)).slice(-2),
    //        day = ("0" + date1.getDate()).slice(-2);
    //    year = date1.getFullYear();
    //    var ddd = [date.getFullYear(), mnth, day].join("-");
    //    var dd1 = [day, mnth, date.getFullYear(),].join("-");
    //    //dd1 = day + "-" + mnth + "-" + year;

    //    var dd2 = dd1 != "aN-aN-NaN" ? dd1 : "";


    //        $('#ced').val(dd2);

    //};
    function dd() {
        $('#ced').val("");
        //var dd1 = "";
        debugger
        days = parseInt($("#cnod").val(), 10);
        var from = $("#csd").val().split("-")
        var f = new Date(from[2], from[1] - 1, from[0])
        f.setDate(f.getDate() + days);
        //var m = (f.getDate()<10?'0':")+
        //var date = new Date($("#startdate").val()),

        // date.setDate(date.getDate() + days);

        debugger
        var date1 = new Date(f),

            mnth = ("0" + (date1.getMonth() + 1)).slice(-2),
            day = ("0" + date1.getDate()).slice(-2);
        year = date1.getFullYear();
        // var ddd = [date.getFullYear(), mnth, day].join("-");
        var dd1 = [day, mnth, date1.getFullYear(),].join("-");
        //dd1 = day + "-" + mnth + "-" + year;

        var dd2 = dd1 != "aN-aN-NaN" ? dd1 : "";


        $('#ced').val(dd2);

    };
</script>
<script>
   function Questionspost() {
        //alert($('input[name="check"]:checked').val());
       if ($("#inputDescription").val() != "" && $("#o1").val() != "" && $("#o2").val() != "" && $("#o3").val() != "" && $("#o4").val() != "" && $("#marks").val() != "" && $('input[name=check]:checked').val() != "") {
           $.post("@Url.Content("~/onlineExamUI/Update_QUESTIONs")", { QUESTION: $("#inputDescription").val(), OP1: $("#o1").val(), OP2: $("#o2").val(), OP3: $("#o3").val(), OP4: $("#o4").val(), ANSWER: $('input[name="check"]:checked').val(), MMarks: $("#marks").val() }, function (data) {

               if (data.Count == "1") {
                   //getquestions();
                   $("#popup").click();
                   $("#popuph1").text("Success");
                   $("#popuph1").css("color", "green");
                   $("#popupp").text("Question Updated Successfully...!");
                   $("#btnok").show();
                   $("#btnclose").css("Display", "none");

               }
               else {
                   $("#popup").click();
                   $("#popuph1").text("Failed");
                   $("#popuph1").css("color", "red");
                   $("#popupp").text("Something Went Wrong....");
                   $("#btnok").css("Display", "none");
                   $("#btnclose").show();
               }
           })
       }
        else {

            $('#dic1 input[type=text]').each(function () {
                if ($(this).val() == "") {
                    $(this).next("span").remove();

                    $(this).css('border', '1px solid red');
                }
            });
            $('#dic1 input[type=number]').each(function () {
                if ($(this).val() == "") {
                    $(this).next("span").remove();

                    $(this).css('border', '1px solid red');
                }
            });
            $('#dic1 textarea').each(function () {
                if ($(this).val() == "") {
                    $(this).next("span").remove();

                    $(this).css('border', '1px solid red');
                }
            });

            //if ($("#inputName").val() == "") {
            //    $("#inputName").next("span").remove();

            //    $("#inputName").css('border', '1px solid red');
            //}
            //if ($("#inputDescription").val() == "") {
            //    $("#inputDescription").next("span").remove();

            //    $("#inputDescription").css('border', '1px solid red');
            //}
            //if ($("#ndays").val() == 0) {
            //    $("#ndays").next("span").remove();

            //    $("#ndays").css('border', '1px solid red');
            //}
            //if ($("#camt").val() == 0) {
            //    $("#camt").next("span").remove();

            //    $("#camt").css('border', '1px solid red');
            //}
            //if ($("#startdate").val() == "") {
            //    $("#startdate").next("span").remove();

            //    $("#startdate").css('border', '1px solid red');
            //}
            //if ($("#Trainer").val() == "") {
            //    $("#Trainer").next("span").remove();

            //    $("#Trainer").css('border', '1px solid red');
            //}
            //if ($("#Importance").val() == "") {
            //    $("#Importance").next("span").remove();

            //    $("#Importance").css('border', '1px solid red');
            //}

            $("#popup").click();
            $("#popuph1").text("Warining..?");
            $("#popuph1").css("color", "Yellow");
            $("#popupp").text("Please Enter All Mandatory fields");
            $("#btnok").css("Display", "none");
          //  $("#btnclose").css("Display", "block");
            $("#btnclose").show();
        }
    
    }
</script>

<script>
    function Reload() {
    window.location.href = '@Url.Content("~/onlineExamUI/QUestionEntry")';
    }
</script>


<div class="container">
    <div class="row">
        <a class="btn btn-primary" id="popup" data-toggle="modal" style="display:none" href="#ignismyModal">open Popup</a>
        <div class="modal fade" id="ignismyModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>*@
                    </div>

                    <div class="modal-body">

                        <div class="thank-you-pop">
                            @*<img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">*@
                            <h1 id="popuph1"> Success</h1>
                            <p id="popupp"> </p>
                            <!--<h3 class="cupon-pop">-->@*Your Id: <span>12345</span>*@<!--</h3>-->
                            <button id="btnok" class="close" style="display:none" onclick="Reload()">OK</button>
                            <button id="btnclose" class="close" style="display:none" data-dismiss="modal">OK</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

