@model onlineexams.Models.Userslist

@{
    ViewBag.Title = "GetusersList";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>*@



<!-- DataTables -->
@**@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
@*<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />*@
<style>
    .table thead,
    .table th {
        text-align: center;
    }
</style>
<script>
    $(function () {
        $("#example1").DataTable();
        // $("#click").click();
       

    });
</script>

    




<section class="content">

    

</section>


<div class="card">
    <div class="card-header">
        <h2 class="card-title">Users Details</h2>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped table-primary">
            <thead>
                <tr style="align-content:center">
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Mobile number</th>
                    <th>Mail ID</th>
                    <th>AADHAR</th>
                   
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.lst)
                {
                    <tr class="tbhhover" @*onclick="setareamasterid(@item.ID)"*@>
                        <td >@item.Userid</td>
                        <td>@item.FIRSTNAME</td>
                        
                        <td>@item.MOBILENUMBER</td>
                        <td>@item.EMAILID</td>
                        <td>@item.AAdharnumber</td>
                      
                    </tr>
                }


            </tbody>
            <tfoot>
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Mobile number</th>
                    <th>Mail ID</th>
                    <th>AADHAR</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>


<!-- Bootstrap 4 -->
<!-- DataTables -->
<!-- AdminLTE App -->
<!-- AdminLTE for demo purposes -->
@*<script src="~/dist/js/demo.js"></script>*@

<!-- page script -->
@*<script>
        $(document).ready(function () {
            //$(".datepic1").datepicker({
            $("#startdate").datepicker({
                onSelect: function (dateStr) {
                    $(this).focus();
                    //ValidateToDate()
                    //Validate2();
                },
                dateFormat: 'dd-mm-yy',

            });
            $("#example1").DataTable();
            $("#click").click();


        });
    </script>*@


